.pricing {
    .head-page {
        p {
            max-width: 500px;
            width: 100%;
            line-height: 1.9;
            font-size: clamp(16px, 4vw, 18px);
        }
    }

    .packages {
        padding-block: 70px;

        .container {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
            gap: 15px;

            .package {
                box-shadow: 0 0 10px 0 #88888849;
                padding: 20px;
                display: flex;
                flex-direction: column;
                gap: 15px;
                border-radius: 10px;
                position: relative;

                &.top {
                    transform: translateY(-15px);
                }

                .star {
                    background-color: var(--main_color);
                    color: #FFF;
                    position: absolute;
                    left: 0;
                    top: -30px;
                    width: 100%;
                    padding: 7px;
                    text-align: center;
                    border-radius: 10px 10px 0 0;
                }

                .desc {
                    line-height: 1.8;
                }

                .price {
                    font-weight: 600;
                    font-size: 18px;
                }

                .features {
                    display: flex;
                    flex-direction: column;
                    gap: 7px;
                }

                .offer {
                    margin-top: auto;
                    color: var(--main_color);
                }
            }
        }
    }

    .cta-pricing {
        margin-bottom: 40px;

        .container {
            text-align: center;
            display: flex;
            flex-direction: column;
            gap: 20px;

            h2 {
                font-size: clamp(18px, 4vw, 26px);
                color: var(--main_color);
                line-height: 1.6;
            }

            p {
                max-width: 650px;
                width: 100%;
                margin-inline: auto;
                line-height: 1.7;
                font-size: clamp(16px, 4vw, 20px);
            }

            a {
                display: block;
                width: 150px;
                margin-inline: auto;
                background-color: var(--main_color);
                color: #FFF;
                padding-block: 10px;
                font-size: 17px;
                border-radius: 10px;
            }
        }
    }
}

@media (max-width: 767px) {
    .pricing {
        .packages {
            padding-block: 25px;

            .container {
                grid-template-columns: repeat(1, 1fr);
                gap: 40px;

                .top {
                    transform: translateY(0) !important;
                }
            }
        }

        .cta-pricing {
            margin-top: 30px;
        }
    }
}