.head-page {
    min-height: 100px;
    background-color: var(--main_color);
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding-block: 20px;
    padding-inline: 15px;
}