:root {
    --main-color: #0056B3;
    /* الأزرق الصريح بتاع اللوجو */
    --secondary-color: #D9A03C;
    /* الذهبي بتاع الشعلة */
    --main-bg: #FFFFFF;
    /* أبيض صريح عشان الموقع "ينور" */
    --section-bg: #F8FAFF;
    /* رمادي مزرق خفيف جداً لفصل السكاشن */
    --text-color: #1A1A1A;
    /* أسود شيك بدل الرمادي الغامق */
    --text-muted: #666666;
    /* للنصوص الجانبية */
}

/* ضبط الخطوط والاتجاهات */
html[lang="en"] {
    --font-family: var(--font-en);
    direction: ltr;
}

html[lang="ar"] {
    --font-family: var(--font-ar);
    direction: rtl;
}

*,
input,
button,
textarea,
select {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    outline: none;
    text-decoration: none;
    font-family: var(--font-family);
}

body {
    background-color: var(--main-bg);
    color: var(--text-color);
    overflow-x: hidden;
    line-height: 1.6;
}

a {
    color: inherit;
    transition: all 0.3s ease;
}

/* تحسين السكرول بار */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--main-bg);
}

/* الحاوية - Container */
.container {
    margin-inline: auto;
    padding-inline: 20px;
    width: 100%;
    max-width: 1300px;
}